@font-face {
    font-family: 'Norse';
    src: url(Norse-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

.bg{
    display: block;
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    line-height: 0;
}

.left{
    position: relative;
    width: 774px;
    height: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 0%;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
}


.logo img{
    width: 20%;
}

.logo_text{
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 100px;
}

.whole{
    display: flex;
    min-height: 100vh;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.right p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

