@font-face {
    font-family: 'Norse';
    src: url(Norse-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

.bg{
    display: block;
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    line-height: 0;
}

.left{
    position: relative;
    width: 40vw;
    height: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 0%;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
}


.logo img{
    width: 20%;
}

.logo_text{
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 100px;
}

.whole{
    display: flex;
    min-height: 100vh;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.right p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.formclass{
    font: Arial;
}

.row{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.field{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

button{
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    border: none;
}

.field label{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #222;
}

.field input{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: medium;
}

.field input:focus{
    border-color: blue;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.3);
}

.field input:invalid{
    border-color: red;
}